<footer class="fw-container footer letter--white">
  <div class="fw-row">
    <div class="fw-col-3 fw-col-md-6 fw-col-sm-12">
      <div class="logotype">
        <a href="/" class="logotype__link letter--white" target="_self">L<span class="letter--blue">o</span>go</a>
        <div class="text--small lh2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consequatur delectus, ipsa laboriosam obcaecati pariatur sapiente soluta tenetur voluptatibus? Culpa.
        </div>
      </div>
    </div>
    <div class="fw-col-3 fw-col-md-6 fw-col-sm-12">
      <h3 class="footer__title-column decorate-underline">Odkazy</h3>
      <div class="btn-wrap">
        <button class="btn-secondary btn--gray" type="button">Odkazy</button>
        <button class="btn-secondary btn--gray" type="button">Odkazy</button>
      </div>
    </div>
    <div class="fw-col-6 fw-col-md-12">
      <h3 class="footer__title-column decorate-underline">Odkazy</h3>
        <ul class="link-list">
          <li class="link-list__item">
            <a href="#" class="link-list__link letter--gray">Odkazy 01</a>
          </li>
          <li class="link-list__item">
            <a href="#" class="link-list__link letter--gray">Odkazy 02</a>
          </li>
          <li class="link-list__item">
            <a href="#" class="link-list__link letter--gray">Odkazy 03</a>
          </li>
          <li class="link-list__item">
            <a href="#" class="link-list__link letter--gray">Odkazy 04</a>
          </li>
        </ul>
    </div>
  </div>
</footer>