<header class="fw-container header">
  <div class="logotype">
    <a href="/" class="logotype__link" target="_self">L<span class="letter--blue">o</span>go</a>
  </div>
  <nav class="top-menu js-top-menu">
    <ul class="top-menu__list">
      <li class="top-menu__item">
        <a href="#anchor-boxes" class="top-menu__link js-anchor">Boxes</a>
      </li>
      <li class="top-menu__item">
        <a href="#anchor-filter" class="top-menu__link js-anchor">Filter</a>
      </li>
    </ul>
  </nav>
</header>