*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background: $black;
  color: $white;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: $black;
  height: 100%;
  padding: 0;
  margin: 0;
}

img,
svg,
a,
button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}



