html,
body {
  font-size: 20px;
  height: 100%;
}

body {
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: raleway-example, sans-serif;
  overflow-x: hidden;
  opacity: 1;
  background-color: #bd52ff;
  padding: 0;
  margin: 0;
  color: #fff;
}

.text-center{
    text-align: center;
}

input::placeholder{
  color: #fff;
  font-size: 15px;
}
	
img,
svg,
a,
button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
