$black: #222;
$gray: #7f7f7f;
$light-gray: #dedede;
$white: #fff;
$blue: #0474bc;
$light-blue: #32b3ed;

$transition: .3s ease-in-out;


$xlg: 1359px;
$lg: 1279px;
$md: 1023px;
$sm: 767px;
$xsm: 567px;
